<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15060159974-gvf2c98jg9egkcvblcee8abdugp90a5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15060159974-gvf2c98jg9egkcvblcee8abdugp90a5r</string>
	<key>API_KEY</key>
	<string>AIzaSyCdgeKjKZ0CVmeCv4LihRHkyaOviZYwgcY</string>
	<key>GCM_SENDER_ID</key>
	<string>15060159974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yrchoo.TermProject-1991336-CYR</string>
	<key>PROJECT_ID</key>
	<string>termproject-2022-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>termproject-2022-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15060159974:ios:7ef0edc02df01a32cf1a27</string>
</dict>
</plist>